:root {
    font-size: 62.5%;
    --warna-gelap-1: #082032;
    --warna-gelap-2: #2C394B;
    --warna-terang-1: #334756;
    --warna-terang-2: #EEEEEE;
    --warna-terang-3: #FF4C29;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-container {
    background-image: url('../img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hero-text {
    background-color: rgba(0, 0 ,0, 0.5);
    text-align: center;
    color: var(--warna-terang-2);
    padding: 2.5rem;
}
.hero-text h1 {
    font-size: 6rem;
    text-shadow: 3px 3px var(--warna-gelap-1);
    margin: 1rem 1rem 2rem;
}
.hero-text p {
    font-size: 3rem;
    text-shadow: 2px 2px var(--warna-gelap-1);
    margin: 1rem 1rem 2rem;
}
.hero-text a {
    display: inline-block;
    font-size: 2rem;
    color: var(--warna-terang-2);
    text-decoration: none;
    background-color: var(--warna-terang-3);
    padding: 1.5rem 2rem;
    margin-top: 2rem;
    box-shadow: 3px 3px var(--warna-gelap-1);
}
.hero-text a:hover {
    background-color: var(--warna-gelap-2);
    color: var(--warna-terang-2);
}